<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.ext.SysRoleExtMapper" >
    <resultMap id="BaseResultMap" type="org.forbes.comm.vo.RoleVo" extends="org.forbes.dal.mapper.SysRoleMapper.BaseResultMap">
    </resultMap>
    <resultMap id="BaseResultMaps" type="org.forbes.comm.vo.RoleListVo" extends="org.forbes.dal.mapper.SysRoleMapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List" >
        <include refid="org.forbes.dal.mapper.SysRoleMapper.Base_Column_List" />
    </sql>

    <!--根据用户id查询角色-->
    <select id="selectRoleByUserId" parameterType="long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        f_sys_role fsr WHERE fsr.id IN (SELECT fsur.role_id FROM f_sys_user_role AS fsur WHERE fsur.user_id=#{userId,jdbcType=BIGINT})
    </select>

    <!--添加角色-->
    <insert id="addRole" parameterType="org.forbes.dal.entity.SysRole">
        INSERT INTO f_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--修改角色-->
    <update id="updateRoleByRoleId" parameterType="org.forbes.dal.entity.SysRole">
        UPDATE f_sys_role
        <set>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <!--删除一个角色-->
    <delete id="deleteRoleByRoleId" parameterType="long">
        DELETE FROM f_sys_role  WHERE id=#{id,jdbcType=BIGINT}
    </delete>

    <!--查询所有角色-->
    <select id="selectRoleList" resultMap="BaseResultMaps">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        f_sys_role
    </select>
</mapper>